<Files ~ "^\.ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
AuthType Basic
AuthUserFile /var/www/vhosts/prodigi.jp/web_users/fiber2023/.htpasswd
AuthName "Please enter your ID and password"
Require valid-user